body {
    background-color: #5496C1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #90D5FF;
}

li p{
    float: left;
    display: block;
    color: black;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: none;
  }

li a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #5496C1;
}

/* below code section applies to howtoplay.html */
.page-title{
  text-align: center;
  margin-top: 50px;
  color: white;
}

.instruction-container{
  text-align: center;
}

.instruction-list{
  display: inline-block;
  text-align: left;
}

.instruction-list li{
  color:white;
  font-size: 20px;
}


.get-started-container{
  text-align: center;
  margin-top: 50px;
}

.get-started-button{
  background-color:#7CB333;
  color:white;
  font-size: 20px;
  padding: 20px 20px;
}

.get-started-button:hover {
  background-color: orange;

}
/* above code section applies to howtoplay.html */




/* below code section applies to choosedare.html */
.choose-dare-page-title{
  text-align: center;
  margin-top: 50px;
  color: white;
}

/* Center the parent container */
.box-container {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  gap: 20px; /* Space between rows */
}

/* Style the rows */
.row {
  display: flex;
  justify-content: center; /* Center the boxes horizontally in each row */
  gap: 20px; /* Space between the boxes in each row */
}

/* Style individual boxes */
.box {
  background-color: #ccc; 
  width: 150px; 
  height: 100px; 
  display: flex; 
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  font-size: 20px;
  border-radius: 8px; /* Add rounded corners */
  text-align: center;
}

.box:hover {
  background-color: #f6f0f0; /* Darken the background on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.button-container{
  margin-top: 150px;
  gap: 100px;
  justify-content: center;
  display: flex;
}


.back-button, .next-button{
  padding:10px 20px; /* Adds space inside the buttons */
  cursor: pointer; /* Changes cursor to a pointer on hover */
  font-size: 15px;
  background-color: #7CB333 ;
}

.back-button:hover, .next-button:hover{
  background-color: orange;
}